/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
=======================================================
=======================================================
=======================================================
=======================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background: blue;
    display: grid;
    grid-template-rows: 6rem 1fr;
    min-width: 1055px;
}

.nav__row-1 {
    display: flex;
    align-items: center;
    justify-content: between;
    background: yellow;
    margin: 2.5rem;
}

.search-block {
    background: orange;
    max-width: 30%;
    height: 2rem;
    flex: 1;
    margin-left: auto;
}

.button {
    cursor: pointer;
    color: white;
    border-radius: .2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: .6em 1em;
}

.button--white {
    background: none;
    border: white 2px solid;
}

.button--red {
    margin-right: 1rem;
    background: red;
    border: red 2px solid;
}

.button .nav__row-2 {
    background: green;
    margin-left: 9.5rem;
    color: black;
}

.hero {
    background-image: url(https://s3-media0.fl.yelpcdn.com/educatorphoto/_tmAs95FomIea9WFlZ0tKA/o.jpg);
}